<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--normalize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <!--pcbase.css-->
    <link rel="stylesheet" href="../static/common/pcbase.css">
    <!--login.css-->
    <link rel="stylesheet" href="../static/login/login.css">
</head>
<body>

<canvas id="canv"></canvas>

<!--注册-->
<section class="signUp">
    <section class="inputWrapper">
        <input id="mobileNumber" class="input" title="mobileNumber" name="mobileNumber" type="text" placeholder="手机号">
        <input id="password" class="input" title="password" name="password" type="password" placeholder="密码">
        <input id="passwordAgain" class="input" title="passwordAgain" name="passwordAgain" type="password"
               placeholder="再次输入密码">
    </section>
    <button id="btnSignUp" class="fullWidth">注册</button>
</section>

<!--jQuery-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/login/login.js"></script>
</body>
</html>