@import "../common/color.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp {
  width: 300px;

  .inputWrapper {
    border: 1px solid $grey300;
    border-radius: 4px;
    padding: 1px;
  }
}