@import "../common/color.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
  //background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, $blue500 0%, #fff 100%);
  background-image: radial-gradient(ellipse farthest-corner at center top, $grey700 0%, $black 100%);
}

.signUp {
  position: fixed;
  width: 300px;

  .inputWrapper {
    border-radius: 4px;

    input:last-child {
      border-bottom: none;
    }
  }

  #btnSignUp {
    margin-top: 20px;
  }
}