body {
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  height: 100%;
  background-image: radial-gradient(ellipse farthest-corner at center top, #616161 0%, #000000 100%); }

.signUp {
  position: fixed;
  width: 300px; }
  .signUp .inputWrapper {
    border-radius: 4px; }
    .signUp .inputWrapper input:last-child {
      border-bottom: none; }
  .signUp #btnSignUp {
    margin-top: 20px; }
