@import "../../common/color.scss";

.editArticle {
  height: 100vh;

  .main {

    .left {
      float: left;
      padding: 0 24px;
      width: 50%;
      height: 100vh;
    }

    .right {
      float: right;
      background: $lightBlue50;
      padding: 24px;
      width: 50%;
      height: 100vh;
    }
  }
}

