@import "../../common/color.scss";

input, button, select, textarea {
  outline: none;
  border: none;
}

// 取消chrome下textarea可拖动放大
textarea {
  resize: none
}

.editArticle {
  height: 100vh;

  .header {
    position: fixed;
  }

  .main {
    height: 100%;

    .left {
      float: left;
      width: 50%;
      height: 100%;

      .titleEditWrapper {
        position: relative;
        height: 10%;
        display: flex;
        align-items: center;
        border-bottom: 1px $grey300 solid;
        //background: red;

        .titleEdit {
          padding: 0 24px;
          width: 100%;
          font-size: 26px;
          font-weight: bold;
        }
      }

      .contentEdit {
        padding: 24px;
        width: 100%;
        min-height: 90%;
      }
    }

    .right {
      float: right;
      background: $lightBlue50;
      width: 50%;
      height: 100%;
      //background: yellow;

      .articleTitle {
        height: 10%;
        padding: 0 24px;
        display: flex;
        align-items: center;
        font-size: 26px;
        font-weight: bold;
        border-bottom: 1px $grey300 solid;
        overflow-x: scroll;
        white-space: nowrap;
      }

      // 在这里设置 markdown 的样式
      .articleContent {
        height: 90%;
        padding: 24px;
        background: $lightBlue50;
        overflow: scroll;

        /* 标题 */
        h1, h2, h3, h4, h5, h6 {
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 10px;
          line-height: 1.7;
        }
        h1 {
          font-size: 26px;
        }
        h2 {
          font-size: 24px;
        }
        h3 {
          font-size: 22px;
        }
        h4 {
          font-size: 20px;
        }
        h5 {
          font-size: 18px;
        }
        h6 {
          font-size: 16px;
        }
        /* 代码块 */
        pre {
          border: 1px solid $black;
        }
        pre > code {
          padding: 24px;
        }
        /* 引用 */
        blockquote {
          padding: 24px;
          background: $grey50;
          border-left: 6px solid $grey500;
        }
        /* 列表 */
        ul, ol {
          // 列表嵌套列表留出左空格
          padding-left: 24px;
        }
        // 无序列表
        // 以下代码是为了让嵌套无序列表时有所区别，做多支持6层无序列表嵌套
        // 其实这里是可以优化的，通过scss的计算功能
        // 才发现简书只支持三层嵌套不同样式哈哈哈
        ul > li {
          list-style: disc;
        }
        ul > li > ul > li {
          list-style: circle;
        }
        ul > li > ul > li > ul > li {
          list-style: square;
        }
        ul > li > ul > li > ul > li > ul > li {
          list-style: disc;
        }
        ul > li > ul > li > ul > li > ul > li > ul > li {
          list-style: circle;
        }
        ul > li > ul > li > ul > li > ul > li > ul > li > ul > li {
          list-style: square;
        }
        // 有序列表
        ol > li {
          list-style: decimal;
        }
        ol > li > ol > li {
          list-style: upper-roman;
        }
        ol > li > ol > li > ol > li {
          list-style: upper-alpha;
        }
        ol > li > ol > li > ol > li > ol > li {
          list-style: decimal;
        }
        ol > li > ol > li > ol > li > ol > li > ol > li {
          list-style: upper-roman;
        }
        ol > li > ol > li > ol > li > ol > li > ol > li > ol > li {
          list-style: upper-alpha;
        }
      }
    }
  }
}

