@import "../../common/color.scss";

.editArticle {
  height: 100vh;

  .header {
    position: fixed;
  }

  .main {

    .left {
      float: left;
      padding: 0 24px;
      width: 50%;
      height: 100vh;
    }

    .right {
      float: right;
      background: $lightBlue50;
      padding: 24px;
      width: 50%;
      height: 100vh;
      overflow: scroll;

      .articleTitle {
      }

      // 在这里设置 markdown 的样式
      .articleContent {
        h3 {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

