html, body {
  height: 100%; }

.fullWidth {
  width: 100%; }

.header-wrapper {
  height: 58px;
  color: #fff;
  background: #212121; }
  .header-wrapper .header {
    margin: 0 auto;
    width: 1440px; }
    .header-wrapper .header .title {
      font-size: 24px;
      line-height: 58px;
      margin-left: 24px; }

.toast {
  position: fixed;
  top: 100px;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 18px;
  z-index: 1; }
  .toast .iconfont {
    margin-right: 10px; }
  .toast .icon-success {
    color: #4caf50; }
  .toast .icon-error {
    color: #f44336; }

input {
  border: none;
  outline: none; }

input[type=text], input[type=password] {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  box-sizing: border-box;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  padding: 0 16px; }
  input[type=text]::placeholder, input[type=password]::placeholder {
    color: #bdbdbd; }

button {
  transition: 0.3s;
  background: #212121;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  border-radius: 4px; }
  button:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1); }
