@import "color.scss";

html, body {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

// 全局 input 样式
input {
  border: none;
  outline: none;
}

input[type=text], input[type=password] {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  box-sizing: border-box;
  border-bottom: 1px solid $grey300;
  font-size: 14px;
  padding: 0 16px;

  &:last-child {
    border-bottom: none;
  }

  &::placeholder {
    color: $grey400;
  }
}

// 全局 button 样式
button {
  transition: 0.2s;
  background: $blue500;
  font-size: 14px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  border-radius: 4px;

  &:hover {
    background: RGBA(17, 157, 242, 0.7);
  }
}