@import "color.scss";

html, body {
  height: 100%;
}

// 全宽
.fullWidth {
  width: 100%;
}

// 我来组成头部
.header-wrapper {
  height: 58px;
  color: #fff;
  background: $grey900;

  .header {
    position: relative;
    margin: 0 auto;

    .title {
      font-size: 24px;
      line-height: 58px;
      margin-left: 24px;
    }

    .personalWrapper {
      position: absolute;
      top: 0;
      right: 0;

      .personal {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 58px;
        background: red;

        .menu {
          position: absolute;
          top: 58px;
          right: 0;
          width: 160px;
          background: green;

          .menuItem {
            padding: 0 12px;
            display: flex;
            align-items: center;
            height: 48px;
          }
        }
      }
    }
  }
}

// toast
.toast {
  position: fixed;
  top: 100px;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);
  border-radius: 4px;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
  line-height: 18px;
  z-index: 1;

  .iconfont {
    margin-right: 10px;
  }

  .icon-success {
    color: $green500;
  }

  .icon-error {
    color: $red500;
  }
}

// 全局 input 样式
input {
  border: none;
  outline: none;
}

input[type=text], input[type=password] {
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  box-sizing: border-box;
  border-bottom: 1px solid $grey300;
  font-size: 14px;
  padding: 0 16px;

  &::placeholder {
    color: $grey400;
  }
}

// 全局 button 样式
button {
  transition: 0.3s;
  background: $grey900;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  border-radius: 4px;

  &:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.10);
  }
}