html, body {
  height: 100%; }

.header-wrapper {
  height: 58px;
  color: #fff;
  background: #2196f3; }
  .header-wrapper .header {
    margin: 0 auto;
    width: 1440px; }
    .header-wrapper .header .title {
      font-size: 24px;
      line-height: 58px;
      margin-left: 24px; }

.main {
  margin: 0 auto;
  width: 960px; }
  .main .article {
    padding: 16px 0;
    width: 640px;
    border-bottom: 1px solid #e0e0e0; }
    .main .article .row1 {
      margin-bottom: 16px;
      height: 32px;
      font-size: 14px; }
      .main .article .row1 .avatar-wrapper {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        background: center no-repeat;
        background-size: cover; }
      .main .article .row1 .author {
        margin-left: 8px;
        position: relative;
        top: -12px; }
      .main .article .row1 .time {
        margin-left: 8px;
        position: relative;
        top: -12px;
        color: #9e9e9e; }
    .main .article .title {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: bold; }
    .main .article .content {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 1.5; }
    .main .article .row4 {
      font-size: 14px;
      line-height: 14px; }
      .main .article .row4 .tag {
        transition: 0.5s;
        padding: 2px 4px;
        color: #2196f3;
        border: 1px solid #2196f3;
        border-radius: 4px;
        cursor: pointer; }
        .main .article .row4 .tag:hover {
          background-color: #e3f2fd; }
      .main .article .row4 .read-count, .main .article .row4 .comment-count, .main .article .row4 .like-count, .main .article .row4 .donate-count {
        margin-left: 8px;
        color: #9e9e9e;
        vertical-align: top; }
        .main .article .row4 .read-count i, .main .article .row4 .comment-count i, .main .article .row4 .like-count i, .main .article .row4 .donate-count i {
          margin-right: 4px; }
