html, body {
  height: 100%; }

.header {
  height: 58px;
  color: #fff;
  background: #2196f3; }
  .header .title {
    font-size: 24px;
    line-height: 58px;
    margin-left: 24px; }

.main {
  margin: 0 auto;
  width: 960px; }
  .main .article {
    padding: 16px 0;
    width: 640px;
    border-bottom: 1px solid #bdbdbd; }
    .main .article .row1 {
      margin-bottom: 16px;
      height: 32px;
      font-size: 14px; }
      .main .article .row1 .avatar-wrapper {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: center no-repeat;
        background-size: cover; }
      .main .article .row1 .author {
        margin-left: 8px;
        position: relative;
        top: -12px; }
      .main .article .row1 .time {
        margin-left: 8px;
        position: relative;
        top: -12px;
        color: #bdbdbd; }
    .main .article .title {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: bold; }
    .main .article .content {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 1.5; }
    .main .article .row4 {
      font-size: 14px;
      line-height: 14px; }
      .main .article .row4 .tag {
        transition: 0.5s;
        padding: 0 4px;
        color: #2196f3;
        border: 1px solid #2196f3;
        border-radius: 4px;
        cursor: pointer; }
        .main .article .row4 .tag:hover {
          background-color: #e3f2fd; }
