@import "../common/color.scss";

html, body {
  height: 100%;
}

.header-wrapper {
  height: 58px;
  color: #fff;
  background: $blue500;

  .header {
    margin: 0 auto;
    width: 1440px;

    .title {
      font-size: 24px;
      line-height: 58px;
      margin-left: 24px;
    }
  }
}

.main {
  margin: 0 auto;
  width: 960px;

  .article {
    padding: 16px 0;
    width: 640px;
    border-bottom: 1px solid $grey300;

    .row1 {
      margin-bottom: 16px;
      height: 32px;
      font-size: 14px;

      .avatar-wrapper {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid $grey300;
        box-sizing: border-box;
        background: center no-repeat;
        background-size: cover;
      }
      .author {
        margin-left: 8px;
        position: relative;
        top: -12px;
      }
      .time {
        margin-left: 8px;
        position: relative;
        top: -12px;
        color: $grey500;
      }
    }

    .title {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: bold;
    }

    .content {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 1.5;
    }

    .row4 {
      font-size: 14px;
      line-height: 14px;

      .tag {
        transition: 0.5s;
        padding: 2px 4px;
        color: $blue500;
        border: 1px solid $blue500;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
          background-color: $blue50;
        }
      }

      .read-count, .comment-count, .like-count, .donate-count {
        margin-left: 8px;
        color: $grey500;
        vertical-align: top; // 居中对齐

        i {
          margin-right: 4px;
        }
      }

      .read-count {

      }

      .comment-count {

      }

      .like-count {

      }

      .donate-count {

      }
    }
  }
}