html, body {
  height: 100%;
}

.header {
  height: 58px;
  border-bottom: 1px solid #ccc;

  .title {
    font-size: 24px;
    line-height: 58px;
    margin-left: 24px;
  }
}

.main {
  margin: 0 auto;
  width: 960px;

  .article {
    padding: 16px 0;
    width: 640px;
    border-bottom: 1px solid #ccc;

    .row1 {
      margin-bottom: 16px;
      height: 32px;
      font-size: 14px;

      .avatar-wrapper {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: center no-repeat;
        background-size: cover;
      }
      .author {
        margin-left: 8px;
        position: relative;
        top: -12px;
      }
      .time {
        margin-left: 8px;
        position: relative;
        top: -12px;
        color: #ccc;
      }
    }

    .title {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: bold;
    }

    .content {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 1.5;
    }

    .row4 {
      font-size: 14px;
    }
  }
}